.skcard {
  margin: 10px;
  padding: 10px;
}

.skcard-header {
  background-color: rgba(100, 148, 237, 0.185);
  color: rgb(0, 0, 0);
  border: 1px solid #6495ed;
}

.skcard-header-number,
.skcard-header-cinfo div {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  justify-content: center;
  align-items: center;
}

.skcard-header-number {
  font-size: 2em;
  background-color: cornflowerblue;
  font-family: "Times New Roman", Times, serif;
  justify-content: center;
  align-items: center;
}

.skcard-header-cinfo div {
  font-size: 20px;
  padding-top: 3.5px;
  justify-content: left;
}

.skcard-actions {
  padding: 5px;
  display: flex;
  align-items: center;
  background-color: rgba(100, 148, 237, 0.185);
}

.skcard-actions a {
  text-decoration: none;
  font-size: 20px;
  padding: 3px 10px;
  border-radius: 10px;
}

.skcard-accept {
  margin-right: 10px;
  background-color: rgb(0, 102, 255);
  color: white;
}
.skcard-accept:hover {
  transform: scale(1.1);
  color: white;
}
.skcard-cancel:hover {
  color: red;
}

.bill span {
  background-color: yellow;
  font-size: 25px;
  font-weight: 400;
}

.oimg {
  width: 50px;
}
