
#request{
    width: 85%;
    margin: auto;
    margin-bottom: 50px;
}


.mycard{
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 10px black;
    margin-top: 10px;
}

.card-section{
    margin: 0;
    margin-top: 5px;
}
.card-section div{
    margin-top: 4px;
}

.accept-btn{
    height: 100%;
    margin: auto;
}

.section-heading{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    border-bottom:2px solid rgb(220, 20, 60);
    opacity: 0.5;
    color: rgb(220, 20, 60);
}

.card-action-links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.track-box{
    width: 50%;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px black;
}

.header{
    text-align: center;
}